<h2><%= @project.name %></h2>

<ul class="bottom-spacer">
  <li class="nude">The participants</li>
  <% @project.participants.each do |participant| %>
    <li class="nude"><%= link_to participant.member.name, "/days?member_id=#{participant.member.id}", method: :get %></li>
  <% end %>
  <li class="nude">Have added <%= @entries_count %> entries since <%= @project.created_at.to_date %></li>
</ul>

<% @days.each do |day| %>
  <ul>
    <% day.entries.each_with_index do |entry, index| %>
      <li class="nude">
        <%= render "orgs/entries/entry", entry: entry, entries: day.entries, index: index, with_date: true, with_member: true %>
      </li>
    <% end %>
  </ul>
<% end %>
