<!-- TODO: ensure this page works without current_org / current_member or current_project -->

<% if current_user %>
  <%= button_to "Logout", session_path, method: :delete, role: "button", class: "slim" %>
<% end %>

<h2>Settings</h2>

<ul>
  <li> User name: <b><%= current_user.name %></b></li>
  <li> Selected org: <b><%= current_org.name %></b></li>
  <li> Participant of projects: <b><%= current_member.projects.pluck(:name).join(", ") %></b></li>
  <li> Current project: <b><%= current_project.name %></b></li>
</ul>

<h2>All members of current project '<%= current_project.name %>'</h2>

<ul>
  <% current_project.members.each do |member| %>
    <li><%= link_to member.name, "/days?member_id=#{member.id}", method: :get %></li>
  <% end %>
</ul>

<h2>All projects of current organization '<%= current_org.name %>'</h2>

<ul>
  <% current_org.projects.each do |project| %>
    <li><%= link_to project.name, project_path(project.slug), method: :get %></li>
  <% end %>
</ul>


<h2>Display</h2>

<p><i>(current mode: <%= Current.display_mode || "system" %>)</i></p>

<ul>
  <li><%= button_to "Always use dark mode", dark_mode_path, method: :patch, role: "button", class: "slim", data: { turbo: false}%></li>
  <li><%= button_to "Always use light mode", light_mode_path, method: :patch, role: "button", class: "slim", data: { turbo: false} %></li>
  <li><%= button_to "Use system mode (needs reload)", system_mode_path, method: :patch, role: "button", class: "slim" %></li>
</ul>
