<div class="spacing-grid" style="margin-bottom: 0.5rem;">
  <div class="left">
    <h2> Day <%= @day.date.to_s %> </h2>
  </div>
  <div class="center">
    <%= link_to "add or edit", "/entries?date=#{@day.date.iso8601}", method: :get, role: "button", class: "slim" %>
  </div>
  <div class="right">
    <%= link_to "⬅️", "/days?date=#{(@day.date - 1.day).iso8601}", method: :get, role: "button", class: "slim" %>
    <%= link_to "➡️", "/days?date=#{(@day.date + 1.day).iso8601}", method: :get, role: "button", class: "slim" %>
  </div>
</div>

<ul>
  <% @entries.each_with_index do |entry, index| %>
    <li class="nude">
      <%= render "orgs/entries/entry", entry: entry, entries: @entries, index: index, with_date: false, with_member: true %>
    </li>
  <% end %>
</ul>
