<div class="spacing-grid">
  <div class="left">
    <h2> Day <%= @day.date.to_s %> </h2>
  </div>
  <div class="center">
    <%= link_to "add or edit", "/entries?date=#{@day.date.iso8601}", method: :get, role: "button", class: "slim" %>
  </div>
  <div class="right">
    <%= link_to "⬅️", "/days?date=#{(@day.date - 1.day).iso8601}", method: :get, role: "button", class: "slim" %>
    <%= link_to "➡️", "/days?date=#{(@day.date + 1.day).iso8601}", method: :get, role: "button", class: "slim" %>
  </div>
</div>

<ul>
  <% @entries.each do |entry| %>
    <li class="nude">
      <div class="left-aligned-grid">
        <div class="left">
          <h3><%= entry.member.name %></h3>
        </div>
        <div class="left">
          <%= entry.log %>
        </div>
        <div class="right">
          <%= link_to "todo", "", method: nil, role: "button", class: "slim #{entry.todo? ? 'btn-todo' : 'btn-inactive'}" %>
          <%= link_to "doing", "", method: nil, role: "button", class: "slim #{entry.doing? ? 'btn-doing' : 'btn-inactive'}" %>
          <%= link_to "done", "", method: nil, role: "button", class: "slim #{entry.done? ? 'btn-done' : 'btn-inactive'}" %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
