<!--
  Expects the following local variables:

  * entry
-->

<%= form_with(model: entry, data: { turbo_method: :patch }) do |form| %>
  <div role="group">
    <%= form.text_field :log, required: true, value: entry.log, minlength: 3, maxlength: 500 %>
    <%- # TODO: prevent losing edited log, when clicking on button instead of enter %>
    <%= link_to "todo", entry_path(entry, entry: { status: "todo" }), data: { turbo_method: :patch }, role: "button", class: "#{entry.todo? ? 'btn-todo' : 'btn-inactive'} btn-tdd" %>
    <%= link_to "doing", entry_path(entry, entry: { status: "doing" }), data: { turbo_method: :patch }, role: "button", class: "#{entry.doing? ? 'btn-doing' : 'btn-inactive'} btn-tdd" %>
    <%= link_to "done", entry_path(entry, entry: { status: "done" }), data: { turbo_method: :patch }, role: "button", class: "#{entry.done? ? 'btn-done' : 'btn-inactive'} btn-tdd" %>
  </div>
<% end %>
