<!--
  Expects the following local variables:

  * entry
  * entries
  * index
  * with_member (boolean)
  * with_date (boolean)
-->

<% grid_columns = 2 + (defined?(with_date) && with_date ? 1 : 0) + (defined?(with_project) && with_project ? 1 : 0) + (defined?(with_member) && with_member ? 1 : 0) %>
<div class="left-aligned-grid-<%= grid_columns %>">

  <% if defined?(with_date) && with_date %>
    <div class="left">
      <% if index == 0 || entry.day != entries[index - 1].day %>
        <h3 style="margin-top: -0.25rem;">
          <%= link_to entry.day.date.iso8601, entries_path(date: entry.day.date, project_id: @project&.id), method: :get, class: "camouflage s-link" %>
        </h3>
      <% end %>
    </div>
  <% end %>

  <% if defined?(with_project) && with_project %>
    <div class="left">
      <% if index == 0 || entry.project != entries[index - 1].project %>
        <h3 style="margin-top: -0.25rem;">
          <%= link_to entry.project.name, project_path(entry.day.project.slug), method: :get, class: "camouflage s-link" %>
        </h3>
      <% end %>
    </div>
  <% end %>

  <% if defined?(with_member) && with_member %>
    <div class="left">
      <% if index == 0 || entry.member != entries[index - 1].member %>
        <h3 style="margin-top: -0.25rem;">
          <%= link_to entry.member.name, entries_path(member_id: entry.member_id, project_id: @project&.id), method: :get, class: "camouflage s-link" %>
        </h3>
      <% end %>
    </div>
  <% end %>

  <div class="left">
    <%= entry.log %>
  </div>

  <!-- TODO set disabled: true on links and adapt colors to pop more -->

  <div class="right">
    <%= link_to "todo", "", method: nil, role: "button", class: "slim #{entry.todo? ? 'btn-todo' : 'btn-inactive'}" %>
    <%= link_to "doing", "", method: nil, role: "button", class: "slim #{entry.doing? ? 'btn-doing' : 'btn-inactive'}" %>
    <%= link_to "done", "", method: nil, role: "button", class: "slim #{entry.done? ? 'btn-done' : 'btn-inactive'}" %>
  </div>

</div>
