<% if @group_by == "date" %>
  <%= render "orgs/entries/entries_nav_by_date", date: @date, mode: @mode %>
<% elsif @group_by == "member" %>
  <%= render "orgs/entries/entries_nav_by_member", member: @member, members: @members, mode: @mode %>
<% elsif @group_by == "project" %>
  <%= render "orgs/entries/entries_nav_by_project", project: @project, mode: @mode %>
<% else %>
  group_by '<%= @group_by %>' is invalid
<% end %>


<% if @mode == "edit" %>

  <ul class="bottom-spacer">
    <% @entries.each do |entry| %>
      <li class="nude tight">
        <%= render "orgs/entries/editable_entry", entry: entry %>
      </li>
    <% end %>

    <li class="nude">
      <%= render "orgs/entries/new_entry", org: current_org, member: current_member, day: @day %>
    </li>
  </ul>

<% elsif @mode == "read" %>
  <ul>
    <% @entries.each_with_index do |entry, index| %>
      <li class="nude">
        <%= render "orgs/entries/entry", entry: entry, entries: @entries, index: index, with_date: @with_date, with_member: @with_member, with_project: @with_project %>
      </li>
    <% end %>
  </ul>

<% else %>
  mode '<%= @mode %>' is invalid

<% end %>
