<!DOCTYPE html>
<% if Current.display_mode %>
  <html data-theme="<%= Current.display_mode %>">
<% else %>
  <html>
<% end %>

  <%= render partial: "layouts/head" %>

  <body>

    <%= render partial: "layouts/header" %>

    <main>
      <%= yield %>
    </main>

    <%= render partial: "layouts/footer" %>

  </body>
</html>
